<div class="main">
    
  <div class="info">
    <!-- image de perfil y detalles de numeros seguidores, etc. -->
    <ion-row class="ion-align-items-center">
      <ion-col size="3">
        <ion-avatar>
          <!-- Cambiar imagen por la de perfil -->
          <img src="https://th.bing.com/th/id/OIP.CjJXuzT1vxUJmPnFXL654gHaGD?rs=1&pid=ImgDetMain" />          
        </ion-avatar>        
      </ion-col>
      
      <ion-col size="3">        
        <ion-row>
          <ion-label class="center">1,234</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="center">Publicaciones</ion-label>
        </ion-row>                
      </ion-col>

      <ion-col size="3">
        <ion-row>
          <ion-label class="center">5,678</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="center">Seguidores</ion-label>
        </ion-row>                
      </ion-col>

      <ion-col size="3">
        <ion-row>
          <ion-label class="center">9,101</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="center">Siguiendo</ion-label>
        </ion-row>                
      </ion-col>

    </ion-row>

    <!-- Detalles de la informacion del perfil -->
    <div style="padding-left: 1rem;">
      <ion-row>
        <ion-label>ruffles</ion-label>
      </ion-row>    
      <ion-row>
        <ion-label style="margin-top: .5rem;" color="medium">influencer</ion-label>
      </ion-row>
      <ion-row>
        <p style="text-align: left; padding-right: 1.5rem; margin: .5rem 1px;">
          La vida es demasiado corta para preocuparse por cosas pequeñas, pero pasar no lo es asi que preocupate  <ion-label color="primary">#hashtag</ion-label>
        </p>
      </ion-row>       
      <ion-row>
        <ion-label style="margin-bottom: 1.5rem;" color="primary" href="">Link goes here</ion-label>
      </ion-row>
    </div>

    <!-- Boton de editar perfil -->
    <ion-button (click)="null" expand="full" color="light"
      style="width: 90%;margin: 0 auto;min-height: 0; padding-bottom: 3rem;">
      Editar perfil
    </ion-button>

  </div>

</div>